<!DOCTYPE html>
<% provide(:title,'Acerca de')%>

<div class = "center jumbotron">
    <h1>Acerca de</h1>

    <p>Esta app fue creada tomando <a href="https://twitter.com/" target="_blank">"Twitter"</a> como inspiración, por medio de esta
     se busca que cada cuenta que sea creada tenga la posibilidad de hacer "post" libres de 140 carácteres para que estos sean publicados en una tabla con una fecha de vencimiento de cada publicación</p>

   
</div>
